body {
    background: linear-gradient(135deg, #00BFFF, #800080, #FF69B4);
    color: white; 
    font-family: 'Merriweather', serif; 
    margin: 7px;
    font-size: 16px; 
    line-height: 1.5; 
}

h1, h2 {
    color: white; 
}
    

h1, h2, h3 {
    font-family: 'Merriweather', serif; 
    font-weight: 700; 
}


header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}

section {
    background: black;
    color: white;
    border-bottom: solid 2px rgb(24, 122, 228);
    padding-bottom: 80px;
    padding-top: 80px;
    justify-content: center;
}

img {
    height: 200px;
}

.categoria-curtas-de-Romance {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    border-bottom: solid 1px rgb(24, 122, 228);
}

.categoria-curtas-drama {
    display: flex;
    overflow-x: auto;
    gap: 40xp;
    border-bottom: solid 1px rgb(24, 122, 228);
}

.Categoria-curta-Fantasia-Animação {
    display: flex;
    overflow-x: auto;
    gap: 30xp;
    border-bottom: solid 1px rgb(24, 122, 228);
}
